{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}


{% block body %}
    <form class="col-xl-6 mt-3 mx-auto" action="{{ path('csvFile') }}" method="post">

        {% for column in availableColumns %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check-column-{{ column }}" name="columns[]" value="{{ column }}">
                <label class="custom-control-label" for="check-column-{{ column }}">{{ column }}</label>
            </div>
        {% endfor %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('form') }}">

        <div class="input-group mt-3">
            <button type="submit" class="btn btn-primary">send</button>
        </div>
    </form>
{% endblock %}
